<!DOCTYPE html>
<html>


<!-- Mirrored from www.wrappixel.com/demos/admin-templates/materialart/html/mini-sidebar/authentication-recover-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 05:36:20 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/assets/images/favicon.png">
    <title>BRF Internship Admin Portal</title>
    <link href="/admin/dist/css/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/admin/dist/css/pages/error-pages.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    
<style type="text/css">

.alert {
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
  
.alert-success {
color: #FFF;
background-color: #19B698;
border-color: #0FAC8E;
}
  
.alert-info {
color: #FFF;
background-color: #4AA3DF;
border-color: #4099D5;
}
.notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(135,216,211,0.5);
   
}
.notice_wrapper_error {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(102, 4, 4, 0.5);
   
}
.alert, .notice {
    padding-top: 1.7rem;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}

.alert-danger {
    color: #FFF;
    background-color: #EA6153;
    border-color: #E05749;
}
</style>
<body>
<div class="notice_wrapper">		  	
	<p class="alert">{{{message.error}}}{{{message.success}}}</p>				
</div>
    <section id="wrapper" class="error-page">
        <div class="error-box" style="background:url(/admin/assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="error-body center-align">
                <div class="card" style="width: 30%;margin: 0 auto;">
                    <div class="card-content">
                        <img src="/admin/assets/images/logo-icon.png">
                        <h6>Create A New Password</h6>
                        <form action="/create_new_password_post" method="POST">
                            <div class="input-field">
                                 <span>New Password</span>
                                <input type="password" name="password" id="user_password" required>
                            </div>
                            <div class="input-field">
                                <span>Confirm Password</span>
                                <input type="password" name="cpassword" id="confirm_password" required>
                            </div>
                        <input type="hidden" name="id" value="{{user_id}}">
                        <input type="hidden" name="email" value="{{email}}">
                        <input type="hidden" name="createdAt" value="{{createdAt}}">
                            <button class="waves-effect waves-light btn indigo">Send password Link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script>

    var password = document.getElementById("user_password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/admin/dist/js/materialize.min.js"></script>
    <script>
  $(document).ready(function(){
			setTimeout(function(){
    	$('.notice_wrapper').slideUp('slow', function(){
        	$(this).remove();
          })
        }, 2000);
	
});
</script>
</body>


<!-- Mirrored from www.wrappixel.com/demos/admin-templates/materialart/html/mini-sidebar/authentication-recover-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 05:36:20 GMT -->
</html>