<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Title and breadcrumb -->
            <!-- ============================================================== -->
            <div class="page-titles">
                <div class="d-flex align-items-center">
                    <h5 class="font-medium m-b-0">Candidate Details Page</h5>
                    <div class="custom-breadcrumb ml-auto">
                        <a href="#!" class="breadcrumb">Home</a>
                        <a href="#!" class="breadcrumb">Contact Detail</a>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
<div class="container-fluid">
{{!-- role_id: String,
    state_of_origin: String,
    dob: String,
    dog: String,
    gender: String,
    lga: String,
    state_residence: String,
    geopolitical_zone: String,
    year_of_graduation: String,
    school_of_study: String,
    photo: String, --}}
                <div class="row">
                    <div class="col s4">
                        <div class="card">
                            <img class="responsive-img" src="/admin/assets/images/big/socialbg.jpg" height="456" alt="Card image">
                            <div class="card-img-overlay white-text social-profile d-flex justify-content-center">
                                <div class="align-self-center">
                                    <img src="/uploads/{{data.profile.photo}}" class="circle" width="200">
                                    <h4 class="card-title white-text">{{{jsonp data.profile.user}}}</h4>
                                    <p class="white-text">{{data.profile.about_yourself}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <small>State of Origin/Geopolitical Zone</small>
                                <h6>{{data.profile.state_of_origin}} / {{data.profile.geopolitical_zone}}</h6>
                                <small>Year of NYSC completion</small>
                                <h6>{{data.profile.dog}}</h6>
                                <small>Course of Study</small>
                                <h6>{{data.profile.course_study}}</h6>
                                <small>Institution Attended</small>
                                <h6>{{data.profile.school_of_study}}</h6>
                                <h6>{{data.profile.grade_of_school}}</h6>
                                </div>
                        </div>
                    </div>
                    <div class="col s8">
                        <div class="card">
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs">
                                        <li class="tab col s4"><a class="active" href="#timeline">Candidate Remarks</a></li>
                                        <li class="tab col s4"><a href="#profile">Candidate Profile</a></li>
                                        <li class="tab col s4"><a href="#settings">Analysis</a></li>
                                    </ul>
                                </div>
<div id="timeline" class="col s12">
    <div class="card-content">
        <div class="profiletimeline">          
        
          
            <div class="sl-item">
                <div class="sl-left"> <img src="/admin/assets/images/users/3.jpg" alt="user" class="circle" /> </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="">Mr Chucks</a> <span class="sl-date">5 minutes ago</span>
                        <p class="m-t-10">I believe this Young man has all it takes to be an Intern with Us</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="sl-item">
                <div class="sl-left"> <img src="/admin/assets/images/users/3.jpg" alt="user" class="circle" /> </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="">Mr Chucks</a> <span class="sl-date">5 minutes ago</span>
                        <p class="m-t-10">I believe this Young man has all it takes to be an Intern with Us</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="sl-item">
                <div class="sl-left"> <img src="/admin/assets/images/users/4.jpg" alt="user" class="circle" /> </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="">Mr Chucks</a> <span class="sl-date">5 minutes ago</span>
                          This man has a very solid Civil Engineering foundation, I think he will be a Nice addition to our team
                        
                    </div>
                </div>
            </div>
            <div class="sl-item">
                <div class="sl-left"> <img src="/admin/assets/images/users/3.jpg" alt="user" class="circle" /> </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="">Mr Chucks</a> <span class="sl-date">5 minutes ago</span>
                        <p class="m-t-10">I believe this Young man has all it takes to be an Intern with Us</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="sl-item">
                <div class="sl-left"> <img src="/admin/assets/images/users/4.jpg" alt="user" class="circle" /> </div>
                <div class="sl-right">
                    <div><a href="javascript:void(0)" class="">Mr Chucks</a> <span class="sl-date">5 minutes ago</span>
                          This man has a very solid Civil Engineering foundation, I think he will be a Nice addition to our team
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


                                <div id="profile" class="col s12">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col m3 b-r"> <strong>Full Name</strong>
                                                <br>
                                                <p>James Anderson</p>
                                            </div>
                                            <div class="col m3 b-r"> <strong>Age</strong>
                                                <br>
                                                <p>25 Years</p>
                                            </div>
                                            <div class="col m3 b-r"> <strong>State of Origin</strong>
                                                <br>
                                                <p>Kaduna</p>
                                            </div>
                                            <div class="col m3"> <strong>Location</strong>
                                                <br>
                                                <p>Abuja</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <p class="m-t-30">To continue working and learning in the field of Information Technology where I can contribute my skills to solving various problems that contributes to the growth of any Organization.</p>
                                        <h5 class="card-title">Skill Set</h5>
                                        <hr>
                                        <h6 class="font-light m-t-30">Engineering <span class="pull-right">80%</span></h6>
                                        <div class="progress">
                                            <div class="determinate" style="width: 80%"></div>
                                        </div>
                                        <h6 class="font-light m-t-30">Researching <span class="pull-right">90%</span></h6>
                                        <div class="progress">
                                            <div class="determinate" style="width: 90%"></div>
                                        </div>
                                        <h6 class="font-light m-t-30">Intelligent Quotient <span class="pull-right">80%</span></h6>
                                        <div class="progress">
                                            <div class="determinate" style="width: 80%"></div>
                                        </div>
                                        <h6 class="font-light m-t-30">Verbal Reasoning <span class="pull-right">70%</span></h6>
                                        <div class="progress">
                                            <div class="determinate" style="width: 70%"></div>
                                        </div>
                                        <h6 class="font-light m-t-30">IT Skills <span class="pull-right">80%</span></h6>
                                        <div class="progress">
                                            <div class="determinate" style="width: 80%"></div>
                                        </div>
                                        <h6 class="font-light m-t-30">Field Experience <span class="pull-right">60%</span></h6>
                                        <div class="progress">
                                            <div class="determinate" style="width: 60%"></div>
                                        </div>
                                        <h6 class="font-light m-t-30">Work Experience <span class="pull-right">80%</span></h6>
                                        <div class="progress">
                                            <div class="determinate" style="width: 80%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="settings" class="col s12">
                                    
                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <h5 class="card-title">Descriptive Analysis Based on User <Datal></Datal></h5>
                                                <div class="ct-bar-chart" style="height: 200px;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col s12">
                                        <div class="card">
                                            <div class="card-content">
                                                <h6 class="card-title">Predictive Analysis of Candidate Efficiency Using Random Forest and Naive Bayes Algorithm</h6>
                                                <div class="ct-area-ln-chart" style="height: 200px;"></div>
                                            </div>
                                        </div>
                                    </div>

                                   
                                    <div class="card-content">
                                        <h5>Enter Your Own personal Remark about this Candidate</h5>
                                        <form>
                                          
                                  
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="message" class="materialize-textarea">My suggestion is that this candidate</textarea>
                                                    <label for="message">Remark</label>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <button class="btn teal waves-effect waves-light" type="submit" name="action">Submit Remark</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- ============================================================== -->

</div>
</div>
 <script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
