<div class="slider-area">
        <div class="slider-active owl-carousel">
            <div class="single-slider slider-height-1 bg-img" style="background-image:url(/home/assets/img/slider/slider-1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-7 col-12 col-sm-12">
                            <div class="slider-content slider-animated-1 pt-230">
                                <h1 class="animated">Achieve Your Dreams</h1>
                                <p class="animated">The BRF Internship programme is designed for young professionals who are interested in strengthening their capacity and leadership skills in Nigerian Public Service.</p>
                                <div class="slider-btn">
                                    <a class="animated default-btn btn-green-color" href="/about">ABOUT US</a>
                                    {{!-- <a class="animated default-btn btn-white-color" href="/contact">CONTACT US</a> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="slider-single-img slider-animated-1">
                        <img class="animated" src="/home/assets/img/slider/single-slide-1.png" alt="">
                    </div> -->
                </div>
            </div>
            <div class="single-slider slider-height-1 bg-img" style="background-image:url(/home/assets/img/slider/slider-2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-7 col-12 col-sm-12">
                            <div class="slider-content slider-animated-1 pt-230">
                                <h1 class="animated">We Help you succeed</h1>
                                <p class="animated">Always bear in mind that your own resolution to succeed is more important than any one thing</p>
                                <div class="slider-btn">
                                    <a class="animated default-btn btn-green-color" href="/about-us">ABOUT US</a>
                                    <a class="animated default-btn btn-white-color" href="/contact">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="slider-single-img slider-animated-1">
                        <img class="animated" src="/home/assets/img/slider/single-slide-1.png" alt="">
                    </div> -->
                </div>
            </div>
            <div class="single-slider slider-height-1 bg-img" style="background-image:url(/home/assets/img/slider/slider-3.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-7 col-12 col-sm-12">
                            <div class="slider-content slider-animated-1 pt-230">
                                <h1 class="animated">We Help You Focus </h1>
                                <p class="animated">Always remember, your focus determines your reality</p>
                                <div class="slider-btn">
                                    <a class="animated default-btn btn-green-color" href="/about-us">ABOUT US</a>
                                    <a class="animated default-btn btn-white-color" href="/contact">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="slider-single-img slider-animated-1">
                        <img class="animated" src="/home/assets/img/slider/single-slide-1.png" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="choose-us section-padding-1">
        <div class="container-fluid">
            <div class="row no-gutters choose-negative-mrg">
                <div class="col-lg-3 col-md-6">
                    <div class="single-choose-us choose-bg-light-blue">
                        <div class="choose-img">
                            <img class="animated" src="/home/assets/img/icon-img/service-1.png" alt="">
                        </div>
                        <div class="choose-content">
                            <h3>Step 1 Apply</h3>
                            <p>Apply for the BRF Internship program by Inputing your details in the Registration form</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-choose-us choose-bg-yellow">
                        <div class="choose-img">
                            <img class="animated" src="/home/assets/img/icon-img/service-2.png" alt="">
                        </div>
                        <div class="choose-content">
                            <h3>Step 2 Test</h3>
                            <p>Take a Quick Test, So that we can know your level of Creativity and logical Reasoning</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-choose-us choose-bg-blue">
                        <div class="choose-img">
                            <img class="animated" src="/home/assets/img/icon-img/service-3.png" alt="">
                        </div>
                        <div class="choose-content">
                            <h3>Step 3 Acceptance</h3>
                            <p>A Non-biased, Non-selective and Automative means of Choosing the Best Candidate</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-choose-us choose-bg-green">
                        <div class="choose-img">
                            <img class="animated" src="/home/assets/img/icon-img/service-4.png" alt="">
                        </div>
                        <div class="choose-content">
                            <h3>Step 4 Enrolled</h3>
                            <p>After the Acceptance stage, Best Fit candidate will get Enrolled Automatically</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="about-us pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="about-content">
                    <div class="section-title section-title-green mb-30">
                        <h2>About <span>Us</span></h2>
                        <p>BRF addresses the challenge of youth unemployment by providing a structure for large scale and relevant work skills acquisition and development while linking its core and outcomes to fixing inadequate public services and stimulating the larger economy.  </p>
                    </div>
                                     <div class="about-btn mt-45">
                        <a class="default-btn" href="/about-us">ABOUT US</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about-img default-overlay">
                    <img src="/home/assets/img/banner/banner-1.jpg" alt="">
                    <a class="video-btn video-popup" href="https://www.youtube.com/watch?v=sv5hK4crIRc">
                        <img class="animated" src="/home/assets/img/icon-img/video.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="course-area bg-img pt-130 pb-10" style="background-image:url(/home/assets/img/bg/bg-1.jpg);">
    <div class="container">
        <div class="section-title mb-75">
            <h2> <span>Our </span>Departments</h2>
            <p>Here is a list of all the department a Canditate is qualified to.<br>
               BRF selects the candidate and place them in the best fit department</p>
        </div>
        <div class="course-slider-active nav-style-1 owl-carousel">
           
            <div class="single-course">
                <div class="course-img">
                    <a href="/departments"><img class="animated" src="/home/assets/img/course/course-2.jpg" alt=""></a>
                </div>
                <div class="course-content">
                  <h4 style="font-size:14px"><a href="/departments">Common Service Department</a></h4>
                    {{!-- <p>The department is charged with the responsibility of providing the required human resource and support services to the line departments with the key mandate to enhance the welfare and professional development of members of staff of the Ministry</p> --}}
                </div>
                <div class="course-position-content">
                    <div class="credit-duration-wrap">
                        <div class="sin-credit-duration">
                            <i class="fa fa-diamond"></i>
                            
                        </div>
                        <div class="sin-credit-duration">
                            <i class="fa fa-clock-o"></i>
                            <span>Duration : 1yrs</span>
                        </div>
                    </div>
                    <div class="course-btn">
                        <a class="default-btn" href="/register">APPLY NOW</a>
                    </div>
                </div>
            </div>
            <div class="single-course">
                <div class="course-img">
                    <a href="/departments"><img class="animated" src="/home/assets/img/course/course-3.jpg" alt=""></a>
                </div>
                <div class="course-content">
                     <h4 style="font-size:14px"><a href="/departments">Technical Departments (Works Sector)</a></h4>
                   
                </div>
                <div class="course-position-content">
                    <div class="credit-duration-wrap">
                        <div class="sin-credit-duration">
                            <i class="fa fa-diamond"></i>
                           
                        </div>
                        <div class="sin-credit-duration">
                            <i class="fa fa-clock-o"></i>
                            <span>Duration : 1yrs</span>
                        </div>
                    </div>
                    <div class="course-btn">
                        <a class="default-btn" href="/register">APPLY NOW</a>
                    </div>
                </div>
            </div>
            <div class="single-course">
                <div class="course-img">
                    <a href="/departments"><img class="animated" src="/home/assets/img/course/course-4.jpg" alt=""></a>
                   
                </div>
                <div class="course-content">
                    <h4 style="font-size:14px"><a href="/departments">Technical Departments (Housing Sector)</a></h4>
                    {{!-- <p>The Department of Planning, Research and Statistics (PRS) is one of the three common service Departments</p> --}}
                </div>
                <div class="course-position-content">
                    <div class="credit-duration-wrap">
                        <div class="sin-credit-duration">
                            <i class="fa fa-diamond"></i>
                            {{!-- <span>Credits : 125</span> --}}
                        </div>
                        <div class="sin-credit-duration">
                            <i class="fa fa-clock-o"></i>
                            <span>Duration : 1yrs</span>
                        </div>
                    </div>
                    <div class="course-btn">
                        <a class="default-btn" href="/register">APPLY NOW</a>
                    </div>
                </div>
            </div>
            <div class="single-course">
                <div class="course-img">
                    <a href="/departments"><img class="animated" src="/home/assets/img/course/course-2.jpg" alt=""></a>
                </div>
                <div class="course-content">
                    <h4 style="font-size:14px"><a href="/departments">Common Service Units</a></h4>
                    {{!-- <p>magna aliqua. Ut enim ad minim veniam, nisi ut aliquiptempor incid.</p> --}}
                </div>
                <div class="course-position-content">
                    <div class="credit-duration-wrap">
                        <div class="sin-credit-duration">
                            <i class="fa fa-diamond"></i>
                            {{!-- <span>Credits : 125</span> --}}
                        </div>
                        <div class="sin-credit-duration">
                            <i class="fa fa-clock-o"></i>
                            <span>Duration : 1yrs</span>
                        </div>
                    </div>
                    <div class="course-btn">
                        <a class="default-btn" href="/register">APPLY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="achievement-area pt-130 pb-115">
    <div class="container">
        <div class="section-title mb-75">
            <h2>Our <span>Achievement</span></h2>
            <p>Below is a list of Real-time information regarding the current events in the portal </p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-one">
                    <div class="count-img">
                        <img src="/home/assets/img/icon-img/achieve-1.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{data.north_east}}</h2>
                        <span>North East</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-two">
                    <div class="count-img">
                        <img src="/home/assets/img/icon-img/achieve-2.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{data.north_central}}</h2>
                        <span>North Central</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-three">
                    <div class="count-img">
                        <img src="/home/assets/img/icon-img/achieve-3.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{data.north_west}}</h2>
                        <span>North West</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-four">
                    <div class="count-img">
                        <img src="/home/assets/img/icon-img/achieve-4.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{data.south_east}}</h2>
                        <span>South East</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-one">
                    <div class="count-img">
                        <img src="/home/assets/img/icon-img/achieve-1.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{data.south_south}}</h2>
                        <span>South South</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-two">
                    <div class="count-img">
                        <img src="/home/assets/img/icon-img/achieve-2.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{data.south_west}}</h2>
                        <span>South West</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-three">
                    <div class="count-img">
                        <img src="/home/assets/img/icon-img/achieve-3.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{data.male}}</h2>
                        <span>Male</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-four">
                    <div class="count-img">
                        <img src="/home/assets/img/icon-img/achieve-4.png" alt="">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{data.female}}</h2>
                        <span>Female</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
            <div class="single-count mb-30 count-four">
                <div class="count-img">
                    <img src="/home/assets/img/icon-img/achieve-4.png" alt="">
                </div>
                <div class="count-content">
                    <h2 class="count">{{data.total}}</h2>
                    <span>Number of Applicants</span>
                </div>
            </div>
        </div>
    </div>
 

        {{!-- to be later used when people starts to give testimonies, after 3-months --}}
        {{!-- <div class="testimonial-slider-wrap mt-45">
            <div class="testimonial-text-slider">
                <div class="testi-content-wrap">
                    <div class="testi-big-img">
                        <img alt="" src="/home/assets/img/testimonial/testi-b1.jpg">
                    </div>
                   <div class="row no-gutters">
                       <div class="ml-auto col-lg-6 col-md-12">
                           <div class="testi-content bg-img default-overlay" style="background-image:url(/home/assets/img/bg/testi.png);">
                                <div class="quote-style quote-left">
                                   <i class="fa fa-quote-left"></i>
                                </div>
                               <p>
                                Jide Olayemi from Lagos didn’t have a job for 5 years, now as an a beneficiary, she is able to affect her community.</p>
                                <div class="testi-info">
                                   <h5> Jide Olayemi</h5>
                                   <span>Graduate of Unilorin</span>
                                </div>
                                <div class="quote-style quote-right">
                                   <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testi-arrow">
                                    <img alt="" src="/home/assets/img/icon-img/testi-icon.png">
                                </div>
                           </div>
                       </div>
                   </div>
                </div>
                <div class="testi-content-wrap">
                   <div class="testi-big-img">
                        <img alt="" src="/home/assets/img/testimonial/testi-b3.jpg">
                    </div>
                   <div class="row no-gutters">
                        <div class="ml-auto col-lg-6 col-md-12">
                            <div class="testi-content bg-img default-overlay" style="background-image:url(/home/assets/img/bg/testi.png);">
                                <div class="quote-style quote-left">
                                   <i class="fa fa-quote-left"></i>
                                </div>
                               <p>
                                Aisha Abubakar from Taraba didn’t have a job for 5 years, now as an a beneficiary, she is able to affect her community.</p>
                                <div class="testi-info">
                                   <h5> Aisha Abubakar</h5>
                                   <span>Graduate of Unilorin</span>
                                </div>
                                <div class="quote-style quote-right">
                                   <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testi-arrow">
                                    <img alt="" src="/home/assets/img/icon-img/testi-icon.png">
                                </div>
                           </div>
                       </div>
                   </div>
                </div>
                <div class="testi-content-wrap">
                    <div class="testi-big-img">
                        <img alt="" src="/home/assets/img/testimonial/testi-b2.jpg">
                    </div>
                   <div class="row no-gutters">
                        <div class="ml-auto col-lg-6 col-md-12">
                            <div class="testi-content bg-img default-overlay" style="background-image:url(/home/assets/img/bg/testi.png);">
                                <div class="quote-style quote-left">
                                   <i class="fa fa-quote-left"></i>
                                </div>
                               <p>
                                Aisha Abubakar from Taraba didn’t have a job for 5 years, now as an a beneficiary, she is able to affect her community.</p>
                                <div class="testi-info">
                                   <h5> Aisha Abubakar</h5>
                                   <span>Graduate of Unilorin</span>
                                </div>
                                <div class="quote-style quote-right">
                                   <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testi-arrow">
                                    <img alt="" src="/home/assets/img/icon-img/testi-icon.png">
                                </div>
                           </div>
                        </div>
                   </div>
                </div>
                <div class="testi-content-wrap">
                   <div class="testi-big-img">
                        <img alt="" src="/home/assets/img/testimonial/testi-b2.jpg">
                    </div>
                    <div class="row no-gutters">
                       <div class="ml-auto col-lg-6 col-md-12">
                           <div class="testi-content bg-img default-overlay" style="background-image:url(/home/assets/img/bg/testi.png);">
                                <div class="quote-style quote-left">
                                   <i class="fa fa-quote-left"></i>
                                </div>
                               <p>This Program have really changed my Life, I learned many things from this Internship Program</p>
                                <div class="testi-info">
                                   <h5>Modhu Dada</h5>
                                   <span>Students Of AMMT Department</span>
                                </div>
                                <div class="quote-style quote-right">
                                   <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testi-arrow">
                                    <img alt="" src="/home/assets/img/icon-img/testi-icon.png">
                                </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
            <div class="testimonial-image-slider">
                <div class="sin-testi-image">
                    <img src="/home/assets/img/testimonial/testi-s2.jpg" alt="">
                </div>
                <div class="sin-testi-image">
                    <img src="/home/assets/img/testimonial/testi-s1.jpg" alt="">
                </div>
                <div class="sin-testi-image">
                    <img src="/home/assets/img/testimonial/testi-s3.jpg" alt="">
                </div>
                <div class="sin-testi-image">
                    <img src="/home/assets/img/testimonial/testi-s3.jpg" alt="">
                </div>
            </div>
        </div> --}}
        {{!-- end --}}
        {{!-- <div class="testimonial-text-img">
            <img alt="" src="/home/assets/img/icon-img/testi-text.png">
        </div> --}}
    </div>
</div>

