             <div class="page-content">
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Dashboard</h4>
    
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">{{{jsonp profile.user}}}</a></li>
                                            <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>     
                        <!-- end page title -->
    
                        <div class="row">
                           

                            <div class="col-md-6 col-xl-4">
                                <div class="card">
                                    <a href="/complete_profile">
                                    <div class="card-body">
                                        <div class="mb-4">                                  
                                            <h5 class="card-title mb-0">Complete Profile</h5>
                                        </div>
                                        <div class="row d-flex align-items-center mb-4">
                                            <div class="col-8">
                                                <h2 class="d-flex align-items-center mb-0">
                                                   {{profile_completed.number}}/3
                                                </h2>
                                            </div>
                                           
                                        </div>

                                        <div class="progress shadow-sm" style="height: 5px;">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{profile_completed.total}}%;">
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                    <!--end card body-->
                                </div><!-- end card-->
                            </div> <!-- end col-->

                            <div class="col-md-6 col-xl-4">
                                <div class="card">
                                    <a href="/select_test">
                                    <div class="card-body">
                                        <div class="mb-4">
                                        
                                            <h5 class="card-title mb-0">Take the Test</h5>
                                        </div>
                                        <div class="row d-flex align-items-center mb-4">
                                            <div class="col-8">
                                                <h2 class="d-flex align-items-center mb-0">
                                                   {{total_test_taken}}/3
                                                </h2>
                                            </div>
                                            <div class="col-4 text-right">
                                                <span class="text-muted"><i class="mdi mdi-arrow-up text-success"></i></span>
                                            </div>
                                        </div>

                                        <div class="progress shadow-sm" style="height: 5px;">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{percentage_test}}%;">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                    <!--end card body-->
                                </div>
                                <!--end card-->
                            </div> <!-- end col-->

                            <div class="col-md-6 col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-4">
                                        
                                            <h5 class="card-title mb-0">Check Status</h5>
                                        </div>
                                        <div class="row d-flex align-items-center mb-4">
                                           
                                        </div>

                                       
                                    </div>
                                    <!--end card body-->
                                </div><!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->


                      

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Course Materials</h4>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xl-3">
                    <img src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/02/attachment_80004080-e1488217702832.jpg" style="width:200px; height:250px" />
                </div>
                <div class="col-md-3 col-xl-3">
                    <img src="https://www.sup.org/img/covers/med_large/pid_29770.jpg" style="width:200px; height:250px" />
                </div>
                <div class="col-md-3 col-xl-3">
                    <img src="https://thebookcoverdesigner.com/wp-content/uploads/2019/06/Historical-Fantasy-Victorian-Mystery-Premade-Book-Cover-Shield-of-Hades.jpg" style="width:200px; height:250px" />
                </div>
                <div class="col-md-3 col-xl-3">
                    <img src="https://designerpunch.com/wp-content/uploads/2019/06/World-Whisperer.jpg" style="width:200px; height:250px" />
                </div>
            </div>
            <div class="row" style="margin-top:40px">
                <div class="col-md-2 col-xl-3">
                    <img src="https://designerpunch.com/wp-content/uploads/2019/06/Nazi-Gold-Train_5.jpg" style="width:200px; height:250px" />
                </div>
                <div class="col-md-2 col-xl-3">
                    <img src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/02/Train.jpg" style="width:200px; height:250px" />
                </div>
                <div class="col-md-2 col-xl-3">
                    <img src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/02/attachment_70356173-e1488218242409.jpg" style="width:200px; height:250px" />
                </div>
                <div class="col-md-2 col-xl-3">
                    <img src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/02/attachment_80273810-e1488217742307.jpg" style="width:200px; height:250px" />
                </div>
            </div>
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->




